nav ul{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    background-color: #03153b;
    position: fixed;
}

nav ul li{ /* center */
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto';
    text-align: center;
    padding: 15px 20px;
    margin: auto;
}
header p{
    text-align: center;
    font-size: xx-large;
    padding: 50px 50px;
    color: #000000;
}
nav a{
    /* Set text decoration*/
    text-decoration: none;
    color: #ffffff;
}

a.skip{
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: #03153b;
    color: white;
    opacity: 0;
}

a.skip:focus{
    left: 10%;
    top: 10%;
    transform: translateX(-50%);
    opacity: 1;
}

a:visited{
    /* Set color */
    color: rgb(139, 243, 243);
}

nav a.current{ /* wavy line down a bit */
    /* Set text decoration, transformation, and underline properties */
    text-decoration: underline wavy #f7f5f5;
    text-transform: uppercase;
    text-underline-position: under;
    text-underline-offset: 8px;
}

body{
    font-family: 'Roboto', 'Anton', "Times New Roman", Arial;
}


h1{
    /*Set font and font size*/
    font-family: 'Roboto', 'Anton', "Times New Roman", Arial;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    background-color: #0a4faa;
    height: 200px;
    padding: 100px 50px;
 }


header img{
    width: 100%;
    max-height: 335px;
    margin: auto;
    display: block;
    padding: auto;
    border: 1px solid #ffffff;
}

dt{
   font-size: 25px;
   font-weight: bold;
}

dd{
   font-weight: bold;
}

main {
    background-image: url(../images/intro-bg.jpeg);
}

div.grid{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    width: 80%;
    margin: auto;
}

div.grid div.subgrid{
    flex: 100%;
    text-align: center;
}

div.subgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #0a4faa;
    background-color: #f7f5f5;
}

@media all and (min-width: 768px){
    div.grid{
        width: 100%;
        margin: auto;
    }

    div.grid div.subgrid{
        flex: 50%;
        text-align: center;
    }
}

@media all and (min-width: 1024px){
    div.grid{
        width: 100%;
        margin: auto;
    }

    div.grid div.subgrid{
        flex: 33%;
        text-align: center;
    }
}

footer{
    line-height: 2;
    background-color: #ffffff;
    font-size: large;
    text-align: center;
}


